dist: trusty
language: rust
services: docker
sudo: required

env:
  global:
    - CRATE_NAME=svd2rust
    - TARGET=x86_64-unknown-linux-gnu

matrix:
  include:
    # Nightly, for testing
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: nightly

    # Linux
    - env: TARGET=i686-unknown-linux-gnu DISABLE_TESTS=1
    - env: TARGET=i686-unknown-linux-musl DISABLE_TESTS=1
    - env: TARGET=x86_64-unknown-linux-gnu  DISABLE_TESTS=1
    - env: TARGET=x86_64-unknown-linux-musl DISABLE_TESTS=1

    # OSX
    - env: TARGET=i686-apple-darwin DISABLE_TESTS=1
      os: osx
    - env: TARGET=x86_64-apple-darwin DISABLE_TESTS=1
      os: osx

install:
  - sh ci/install.sh
  - source ~/.cargo/env || true

script:
  - bash ci/script.sh

before_deploy:
  - sh ci/before_deploy.sh

deploy:
  api_key:
    secure: AohBNo0QBsXxxyHcmElV1lZ0TCz83ul/woA9OKOiK07fbcwMnG9XI5HFkQAj/gOdL/O6N8R7EqRjwyc39VSJ0YsX9cyKfrUWoFgTBjySFOfKTG8Fh2WRMhnJUYfocjW8QnVAkPY0KDaVMnyDzl35+Ak/QqbOKXCO6nvfYIBmEhaW6yuYJjnkNpsn3wF3VfDA7XjkMe+24oWe6AYC7aH/CM1qws5+/6kp6VJr1xTkzH+zgNwJNXWmuDWCrMDreYamDwZ4mb0xlWd22I36ZAYDZMe8vIS7Bzw3bIlp0r4li5kDmIFQD39ft7jdNmGxDMFsuSVAyZOvvjfWP4axXncJLvXS1ygCMW9XR7gy3pTg/JXzcj9rnldntHLb2vIcwsXfcy78a7O+N+F9CjrcAeLUCBO43bqrFuX1RKtqicLzEi1IZoj6qYVcVbucyrOKU1ABgnemMT+ukizKjHbK2n8YPq6REUw4kr7aLySFRtb/Y/oSruXe1Ne0/698ty4OPHA+cyYkuPP3Q+Gw+26WKWetzLum1ZwvPlHxb3sdYvE6/38n0jPL/zszZoX88K8wjTDoKZZSse+CB4iXIigV8u3wSrPsuGHwBiG2DNmeITcvmU4g6xHkhXhD4RVbdrD4XGGQuMATXN+yKDg2ggkqxqkJZ/JnL3VjoBM8SdeVdj/zwnQ=
  file_glob: true
  file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.*
  on:
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true
  provider: releases
  skip_cleanup: true

cache: cargo
before_cache:
  - chmod -R a+r $HOME/.cargo

branches:
  only:
    - /^v\d+\.\d+\.\d+.*$/
    - auto
    - try

notifications:
  email:
    on_success: never
